{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": "> 0.25%, not dead"
      }
    ],
    "@babel/preset-react"
  ],

  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@bots": "./src/bots",
          "@commons": "./src/commons",
          "@middlewares": "./src/middlewares",
          "@repositories": "./src/repositories",
          "@routes": "./src/routes",
          "@views": "./src/views"
        }
      }
    ]
  ]
}
