{
  "presets": ["@babel/preset-env"],

  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@bots": "./src/bots",
          "@commons": "./src/commons",
          "@middlewares": "./src/middlewares",
          "@repositories": "./src/repositories",
          "@routes": "./src/routes",
          "@views": "./src/views"
        }
      }
    ]
  ]
}
