:root {
  --background: #fff;
  --contrast: #000;
  --accent: #a87f51;

  --bg-color: #eef2f6;
  --bg-lighten: #f6f9fc;

  --color: #32325d;
  --color-lighten: #8898aa;
  --color-accent: #5741d9;
  --color-accent-lighten: #555;
  --color-green: #6cdb56;
  --color-red: #fa6d46;
  --color-yellow: #ffde24;

  --font: 'Kanit', sans-serif;
  --font-content: 'Roboto', sans-serif;
  --font-size-XS: 0.75rem;
  --font-size-S: 0.85rem;
  --font-size: 1rem;
  --font-size-L: 1.4rem;
  --font-size-XL: 2rem;

  --unit: 1rem;

  --space-XS: 0.4rem;
  --space-S: 0.8rem;
  --space: 1.6rem;
  --space-L: 2.4rem;
  --space-XL: 3.2rem;

  --border-radius: 0.15rem;
}
